<div class="row">
    <div class="col-xs-12">
        <img class="bus-cat" src="../img/business-cat.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1 class="display-4">
            Projects
        </h1>
        <div class="row">
            <div class="col-xs-12 col-sm-4" *ngFor="let project of projects">
                <md-card>
                    <md-card-header>
                        <img md-card-avatar src="{{project.avatar}}">
                        <md-card-title>{{project.name}}</md-card-title>
                        <md-card-subtitle>{{project.lang}}</md-card-subtitle>
                    </md-card-header>
                    <img md-card-image src="{{project.img}}">
                    <md-card-content>
                        <p>{{project.link}}</p>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>
